---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
---

<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <BaseHead title="SensorNews Portal" />
  </head>
  <body class="mx-auto bg-migradiente from-black">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
